---
layout: index
title: Categories LISt
author: tonie
---
  <a id="forkme_banner" href="https://github.com/tonlog/raven-404">See Me @Github</a>
{% include div_left.textile %}
  <h2>分类列表<h2>
  {% for cate in site.categories %}
    <div id="{{ cate[0] }}">
      {{ cate[0] }}
      <ul>
        {% for post in cate[1] %} 
          <li>[{{ post.title }}]({{ site.baseurl }}{{ post.url }})</li>
        {% endfor %}  
      </ul>
    {% include div_right.textile %}
  {% endfor %}
{% include div_right.textile %}
